[windns.h] Service type of service registered with DnsServiceRegister doesn't show up in service type enumeration (RFC 6763 Section 9)

### Describe the bug

Service types of services currently registered should show up when browsing with the special query name `_services._dns-sd._udp.local.` (see [RFC 6763 Section 9](https://datatracker.ietf.org/doc/html/rfc6763#section-9)). But when registering a service with `DnsServiceRegister` (e.g. of type `_foo._tcp`), the service type "foo" will not show up in the service types enumerated by `DnsServiceBrowse`.



### Steps to reproduce the bug

1. Initiate browsing by calling `DnsServiceBrowse` with `QueryName` = `_services._dns-sd._udp.local`
2. Register Service by calling `DnsServiceRegister` with `ServiceName` = `Some Service._foo._tcp.local`


### Expected behavior

Service type `foo` is reported via `PDNS_SERVICE_BROWSE_CALLBACK`.

**Actual behavior**

* Service type `foo` will not show up on Windows machine
* Service type `foo` will not show up on macOS machine
* Service types of services registered on macOS machine show up correctly on Windows machine



### Screenshots

_No response_

### NuGet package version

_No response_

### Packaging type

Unpackaged

### Windows version

Windows 10 version 21H2 (19044, November 2021 Update)

### IDE

Visual Studio 2022

### Additional context

I am the author of a multiplatform DNS-SD plugin. The windows code calling the functions mentioned above can be found [here](https://github.com/sebastianhaberey/nsd/blob/main/nsd_windows_v2/windows/nsd_windows.cpp).

This isn't the right place for general Windows SDK/API bugs. A better place may be Microsoft Q&A. You can also toss something into Feedback Hub for grins.

@mikebattista @BenJKuhn Any thoughts on a better place for this? Can we at least forward a link to this to the API owner?

Steps to reproduce:
1. Compile below, run
2. Execute: `dns-sd -B _services._dns-sd._udp local`
3. Observe `SomeService` is not found

```cpp
#include <iostream>
#include <windows.h>
#include <windns.h>
#include <assert.h>

#pragma comment(lib, "dnsapi.lib")

void completed(DWORD Status, PVOID pQueryContext, PDNS_SERVICE_INSTANCE pInstance)
{
    std::cout << "Registration complete." << std::endl;
}

int main()
{
    PDNS_SERVICE_INSTANCE pServiceInstance = DnsServiceConstructInstance(
        L"SomeService._foo._tcp.local",
        L"",
        nullptr,
        nullptr,
        static_cast<WORD>(12345),
        0,
        0,
        0,
        nullptr,
        nullptr
    );

    DNS_SERVICE_REGISTER_REQUEST request{};
    request.Version = DNS_QUERY_REQUEST_VERSION1;
    request.InterfaceIndex = 0;
    request.pServiceInstance = pServiceInstance;
    request.pRegisterCompletionCallback = &completed;
    request.unicastEnabled = false;

    auto result = DnsServiceRegister(&request, nullptr);
    assert(result == DNS_REQUEST_PENDING);
    DnsServiceFreeInstance(pServiceInstance);

    std::cout << "Press Enter to stop." << std::endl;
    auto _ = getchar();
}
```

Yes thank you, that definitely helps. Your example is reduced to the absolute essentials, so I feel we can rule out incorrect API use. What would you recommend for me to do? I'll file a bug elsewhere if it helps the cause!

@jonwis @keith-horton could you help redirect this to the appropriate API owners? If we can get an internal bug filed, we can link it here, close the issue, and use the closed issue for communication.

This is an OS issue. I've passed the issue along to the appropriate team, closing the issue here since this isn't related to App SDK

Ben.

For posterity, tracked by http://task.ms/39697464

I know this is not the right place here but since I don't know where els to ask this - have there been any findings on this?

I had some issues with the DNS-SD APIs too, mentioned here https://github.com/microsoft/WindowsAppSDK/issues/281#issuecomment-736555382

I am not sure either where to file these bugs. As this is not about this SDK we do not really have any proper place elsewhere to file these and get updates on the status? As far as I can tell right now the API is just broken and not reliably usable, so I guess I have to rely on Apples Bonjour service still, until finally there is a properly working API usable for Win32 apps.

@jonwis @BenJKuhn Are there any updates on [39697464](http://task.ms/39697464)?

Chatted with @mstojens and they say:

> Unfortunately, Windows’ DNS as of Windows 10 version 19044 does not support the _services section.  Future releases may add support – if you can tell us more about your use case that’ll help us understand and prioritize it.

They also hang out here - https://techcommunity.microsoft.com/t5/networking-blog/bg-p/NetworkingBlog/label-name/dns